header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

body{
    background-image: url("https://previews.123rf.com/images/firedark/firedark1106/firedark110600018/9805756-Summer-background-with-flowers-and-ladybirds-Vector-illustration-Stock-Vector.jpg");
    background-repeat: repeat-y;
    background-size:cover;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
